
@import 'mixins';
@import "./layouts/first";
@import "./layouts/banner";
@import "./layouts/features";
@import "./layouts/workflow";
@import "./layouts/pricing";
@import "./layouts/contact";
@import "./layouts/admin";
@import "./layouts/adminedit";

@import "./components/navbar";
@import "./components/button";
@import "./components/headers";
@import "./components/form";

@import "./typography/fonts";

$mainblue: "#1b2845";
$lightblue: #77d2d2;
// $darkback:#0c171b; 
$typografydark: #1a1a1a;;
$babyblue: #63A4FF;
$maincolor:#7a9584;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    
    text-rendering: optimizeLegibility;
    // font-family: Helvetica Neue;
    font-family: "Noto Sans Display","Noto Serif SC","Noto Serif TC",sans-serif;
    font-weight: 300;
    background-color: white ;
    color: $typografydark;
}

html {
    scroll-behavior: smooth;
  }



  
  .layout {
    display: flex;
    // gap: 5rem;
    flex-direction: column;
    
    @include large() {
        gap:10rem;
    }
    
}


.footer {
    display: grid;
    place-content: center;
    width: 100%;
    min-height: 8vh;
    padding-top: 3rem;
    padding-bottom: 1rem;
}
