.h2text {
    font-size: 24px;

    line-height: 28px;
    // white-space: nowrap;
    letter-spacing: -1.4px;

    
}

.bigText {
    font-size: 2rem;
    font-weight: 600;

    line-height: 1.9rem;
    // white-space: nowrap;
    letter-spacing: -.05rem;

}

.ptext {
    font-size: 1rem;

    line-height: 20px;
    // white-space: nowrap;
    letter-spacing: -.4px;


}



.flow-text {

    letter-spacing: .1px;
    font-size: .9rem;
    text-transform: uppercase;
    line-height: 1.3rem;
    width: 100%;
    aspect-ratio: 1/.6;


    letter-spacing: -.4px;
}

.featureh4-text {
    margin-bottom: 0.5rem;
    line-height: 1.1rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    

}

.p-medium {
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: -.5px;

}

.p-large {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 25px;
    letter-spacing: -.5px;

}



