$babyblue: #63A4FF;

.nav-btn {
    padding: 0.6em 1.3em;
    border: 2px solid $babyblue;
    border-radius: 40px;
    text-align: center;
    order: 2;
    color: $babyblue;
    text-align: center;
    cursor: pointer;

   


}

