$formcolor:rgba(203, 213, 225, 0.064);;
$babyblue: rgba(125, 212, 252, 0.377);

.contact-form {
    display: flex;
    max-width:20rem;
    margin: auto;
    min-height: 40vh;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1.2rem;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    padding-block: 2rem;
    border-radius: 20px;
    background-color: $formcolor;
    box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);

    @include large() {
        max-width: 30rem;

    }

    .contact-input {
        width: 17rem;
        padding: .8em 1.3em;
        border-radius: 10px;
        outline: none;
        border: none;
   
        background-color: $formcolor;
        color: white;
    
        border-bottom: 1px solid $babyblue;
        box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);;

        // background-color: rgba(59, 131, 246, 0.16);
        

        // border: 1px solid lightgrey;

        font-size: 1rem;
        
      
    }
    .contact-btn {
        background-color: transparent;
        padding: 1em 3rem;
        font-size: .9rem;
      

        :hover {
            
           
        }
        
   

    }
   

}




.check-field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    width: 17rem;
    gap: .5rem;
    
    input {
      
    }

    p {
        margin-bottom: .3px;
        
    }
}

label p{
    margin-bottom: .5rem;
    letter-spacing: .3px;
    color: rgb(148 163 184/.9) !important;
}

.credentials {
    color: white;
}

.box-label {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   background-color:rgba(125, 212, 252, 0.058);
   border-radius: 10px;
   padding: 1rem;
}