$babyblue: #63A4FF;
$maincolor:#7a9584;

.header-section {
    width: 100%;
        
        min-height: 20vh;
        display: grid;
        place-content: center;
      
        text-align: center;
        color: $maincolor;
}


