$typografydark: #17263b;
$babyblue: #77d2d2;
$lightblue: #77d2d2;
.admin-window {
    background-color:  $typografydark;
    width: 100%;
    min-height: 100vh;

}
.edditing-data{
  
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-block: 6rem;
    gap: 1rem;

    
    .boxes-cont {
        display: flex;
        flex-direction: column;
        
        gap: 1rem;
    }
 

    

    .edit-section {
        width: 90%;
        margin: auto;
        border: 1px solid $babyblue;
        padding: 1.4em;
        border-radius: 10px;
      
        display: flex;
        flex-direction:column ;
        gap: 1rem;
        .boxes-styles {
            display: flex;
            gap: 1rem;
        }
        .label-div {
            display: flex;
            align-items: center;
          
            gap: .4rem;
        }
        .input-styles {
            padding: .8em .4em ;
            font-size: 1rem;
            width: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            color: $typografydark;
        }
        .form-btns {
            background-color: #63a4ff8e;
            color: white;
            font-size: .8rem;
            text-transform: uppercase;
            border: none;
            outline: none;
            border-radius: 10px;
            padding: 1em 1.3em;
        }

    }

  


    .edit-workflow {
        display: flex;
        flex-direction: column;
   
    }


    .edit-features {
        display: flex;
        flex-direction: column;
    
        gap: 3rem;


        .boxes-cont {
            display: flex;
            
            flex-direction: column;
        }
    }

    .edit-pricing {
        display: flex;
        flex-direction: column;
    
    }

    .edit-contact {
        display: flex;
        flex-direction: column;
  

        .form-input-boxes {
            display: flex;
            flex-direction: column;
        }
    }
}


.application-page {
    background-color: #17263b;
     

    .application-data {
        width: 90%;
        margin: auto;

        .application-boxes {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .user-data-box {
                border: 1px solid white;
                padding: 1em;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                border-radius: 10px;
            }
        }
    }
}

//form header
.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: .4rem;
}