.main-workflow {
    background-color: hsl(150, 33%, 98%);
 
    :nth-child(1){
        margin-bottom: 5rem;

        
    }

}

.flow{
    display: flex;
    flex-wrap: wrap;
    z-index: 6;

    align-items: center;
    justify-content: space-around;
   
    width: 100%;
    gap: 3rem;

    .flow-box {
        position: relative;
        cursor: pointer;
       

        .icon-img{

           width: 5rem;
           aspect-ratio: 1/1;
           border-radius: 50%;
          
           overflow: hidden;
           display: grid;
           position: absolute;
           left: 50%;
           margin-top: -5rem;
           transform: translateX(-50%);
          
           img {
               width: 100%;
               
               object-fit: cover;
           }
       }
        display: flex;
        background-color: white;
        flex-direction: column;
      
        
        width: 300px;
        box-shadow: rgb(0 12 43 / 5%) 0px 4px 8px;
       // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
        padding: 30px 20px;
        aspect-ratio: 1/.7;
        border-radius: 17px;
        
       
        margin-bottom: 2rem;
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);


        &:hover {
            box-shadow: 0 0.3em 0.3em -0.4em;
            transform: translateY(-0.25em);
            
            }

        
      
    }
}

.palette {
    align-items: flex-start;
    background: none #65CCB8;
    border-radius: 24px;
    box-shadow: rgb(11 43 158 / 15%) 0px 6px 20px -6px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1088px;
    overflow: hidden;
    padding: 32px 40px 32px 64px;
    position: relative;
    width: 100%;

}


